<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Oil, Energey and Utilities Provider Security Solutions by <%= appdata.product %> Digital Risk Management">
  <link rel="stylesheet" href="/css/index.css">
  <title>Oil, Energey and Utilities Provider Security Solutions by <%= appdata.product %> Digital Risk Management</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>

<% include ../home/components/navbar %>
<% include ../home/components/menubar %>

  <div class="site-body">

    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/industry-oil.jpg)">
      <div class="container">
        <div class="content">
          <h1>Infrastructure meets Threat mitigation</h1>
          <h3 class="white"><%= appdata.product %> for Utilities Providers</h3>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature text-center">
      <div class="container container-fluid">
        <p class="section-desc text-left font-size-24"><%= appdata.product %> partners with energy companies to
          effortlessly integrate your worksites with neighboring communities  From public
          relations to crisis management, <%= appdata.product %> has your back. </p>
      </div>
    </section>
    <!-- End Feature -->


    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-cyan-200">
      <div class="container container-fluid">
        <div class="row feature-group">
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-mobile"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Threat detection</h4>
              <p class="grey-900">Visualize where people are talking about you and your competitors.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-cloud"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Crisis Response</h4>
              <p class="grey-900">Instantly deploys anywhere in the world for detailed, up to date information.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-check"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Project Management</h4>
              <p class="grey-900">Reveal and engage community response to ongoing projects.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Feature -->


    <section class="section">
      <div class="container">

        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h3 class="section-title">Discover and analyze threats instantly</h3>
            <h5 class="section-desc">Be the
              first to know about any problem on any site with localized social media auditing</h5>
            <ul class="text-left">
              <li>
                Set location-based monitors to watch for leaks of sensitive on-site data
              </li>
              <li>
                Automatically pinpoint threats to physical company assets
              </li>
              <li>
                Run global keyword searches to find and mitigate risks
              </li>
            </ul>
          </div>
          <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
            <img src="/img/home/industry-oil-1.jpg" alt="">
           </div>
        </div>

      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 pull-right">
            <h3 class="section-title">Gauge community response</h3>
            <h5 class="section-desc">Boost brand image and project
              success rates by becoming more in touch with local communities than ever.</h5>
            <ul class="text-left">
              <li>
                Sort posts by sentiment for ongoing insights
              </li>
              <li>
                View full breakdowns of public opinion trends near proposed project sites
              </li>
              <li>
                Map and monitor global conversations about your operations and industry
              </li>
            </ul>
           </div>
          <div class="col-md-6 col-sm-12 pull-left hidden-xs">
            <img src="/img/home/industry-energy-1.jpg" alt="" class="pull-right">
           </div>
         </div>
       </div>
     </section>

     <section class="section">
       <div class="container">

         <div class="row">
           <div class="col-lg-5 col-md-6 col-sm-12">
             <h3 class="section-title">Maximize Business intelligence</h3>
             <h5 class="section-desc">Maximize your consumer intelligence
               anywhere in the world with customizable data mining.</h5>
             <ul class="text-left">
               <li>
                 Discover and monitor top influencer conversations in any region or topic
               </li>
               <li>
                 Pinpoint where competitor conversations are the loudest
               </li>
               <li>
                 Support efficient, effective communications strategies with robust social data
               </li>
             </ul>
           </div>
           <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
             <img src="/img/home/industry-power-1.jpg" alt="">
            </div>
         </div>

       </div>
     </section>

     <% include ../home/components/request_demo %>
     <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
