<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Political Campaign Security Solutions by <%= appdata.product %> Digital Risk Management">
  <link rel="stylesheet" href="/css/index.css">
  <title>Political Campaign Security Solutions by <%= appdata.product %> Digital Risk Management</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>

<% include ../home/components/navbar %>
<% include ../home/components/menubar %>

  <div class="site-body">

    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/industry-political-campaigns.jpg)">
      <div class="container">
        <div class="content">
          <h1>Field Outreach and Image Protection in a Single Platform</h1>
          <h3 class="white"><%= appdata.product %> for political campaignss</h3>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature text-center">
      <div class="container container-fluid">
        <p class="section-desc text-left font-size-24">Data is the name of the game
          in politics. <%= appdata.product %>’s ability to search, sort and analyze data from
          any keyword and location allows campaigns of any scale to build more
          targeted outreach campaigns and protect candidates from
          online mudslinging.
        </p>
        <p class="section-desc text-left font-size-24">From field work to public polling,
          <%= appdata.product %> exists to give you the most up to date, detailed information
          in the business and prioritizing it into essential insights
          so you can focus on beating the competition.
        </p>
      </div>
    </section>
    <!-- End Feature -->


    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-red-700">
      <div class="container container-fluid">
        <div class="row feature-group">
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-mobile"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title white">Localize outreach</h4>
              <p class="white">Identify key areas to target canvassing and advertising
                with sentiment analysis
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-cloud"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title white">Leverage social data</h4>
              <p class="white">Effortlessly track global and regional sentiment on issues and candidates.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-check"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title white">Real time intelligence</h4>
              <p class="white">Maintain up to date understanding of public opinion by keyword, location, and channel.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Feature -->


    <section class="section">
      <div class="container">

        <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-12">
            <h3 class="section-title">Supercharged Field Work</h3>
            <h5 class="section-desc"><%= appdata.product %> can highlight insights
              online that allow your campaign to build the most localized field campaign possible.
            </h5>
            <ul class="text-left">
              <li>
                Aggregate sentiment data from natural language processing to
                highlight key areas to target on any scale
              </li>
              <li>
                Track real returns from canvassing efforts over
                time with <%= appdata.product %>’s analytics dashboard
              </li>
              <li>
                Use local conversation insights to shape canvassing scripts by region
              </li>
            </ul>
          </div>
          <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
            <img src="/img/home/industry-pc-1.jpg" alt="">
           </div>
        </div>

      </div>
    </section>

    <section class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-lg-offset-1 col-md-6 col-sm-12 pull-right">
            <h3 class="section-title">Seamless Personal Security</h3>
            <h5 class="section-desc">Protect your people from
              character assassination and slander online.
            </h5>
            <ul class="text-left">
              <li>
                Vet potential team members and partners for potential scandal
              </li>
              <li>
                Protect candidates and campaign personnel from
                malicious or untrue information online
              </li>
              <li>
                Find and shut down online impersonators before
                they impact your campaign’s image
              </li>
            </ul>
           </div>
          <div class="col-md-6 col-sm-12 pull-left hidden-xs">
            <img src="/img/home/industry-pc-2.jpg" alt="" class="pull-right">
           </div>
         </div>
       </div>
     </section>

     <section class="section">
       <div class="container">

         <div class="row">
           <div class="col-lg-5 col-md-6 col-sm-12">
             <h3 class="section-title">Instantaneous Polling</h3>
             <h5 class="section-desc">Convert data from social media,
               blogs, and the dark web into detailed campaign insights.
             </h5>
             <ul class="text-left">
               <li>
                 Locate where conversations concerning your candidate and
                 opponents are the loudest
               </li>
               <li>
                 Analyze public sentiment on any issue or candidate in any location
               </li>
               <li>
                 Stream together multiple keyword monitors to get personalized, real time updates
               </li>
             </ul>
           </div>
           <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
             <img src="/img/home/industry-pc-3.jpg" alt="">
            </div>
         </div>

       </div>
     </section>

     <% include ../home/components/request_demo %>
     <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
