<% include ../html/html_begin %>
<% include ../html/head_begin %>
<meta name="description" content="<%= appdata.product %> On-premise">
<link rel="stylesheet" href="/css/index.css">
<title><%= appdata.product %> On-premises</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>
<% include ../home/components/navbar %>
<% include ../home/components/menubar %>
<div class="site-body">

  <!-- Hero -->
  <section class="site-hero hero hero-light padding-top-80" style="background-image:url(/img/home/products-on-premise.jpg)">
    <div class="container">
      <div class="content">
        <h1><%= appdata.product %> On-Premises</h1>
        <p class="section-desc white">The most powerful digital risk management
          platform, shaped to fit your needs</p>
        <p>
        </p>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <!-- Feature -->
  <section class="section section-feature text-center section-primary">
    <div class="container container-fluid">

      <p class="section-desc white text-left font-size-24"><%= appdata.product %> running on your own infrastructure
        providing ultimate flexibility, control and performance.
      </p>
      <p class="section-desc white text-left font-size-24">With <%= appdata.product %> on-premises
        installation, you can own the full capabilities of <%= appdata.product %>'s platform and seamlessly
        integrate it into your organization's existing data centers and security protocols.
      </p>

    </div>
  </section>
  <!-- End Feature -->

  <section class="section section-pie-progress text-center">
    <div class="container">

      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-12">
          <h3 class="section-title">Benefits</h3>
          <p class="section-desc">With <%= appdata.product %> On-Premise installation, you can:</p>
          <ul class="text-left">
            <li>
              Take control of your privacy by building <%= appdata.product %>
              into your own security systems. Our only involvement will be support.
            </li>
            <li>
              Join some of the top names of the Fortune 5000 in letting
              <%= appdata.product %> defend your organization from outside the perimeter digital threats
            </li>
            <li>
              Access top of the line support to ensure that <%= appdata.product %>
              delivers issue-free digital security
            </li>
          </ul>
        </div>
        <div class="col-lg-offset-1 col-md-6 col-sm-12 hidden-xs">
          <img src="/img/home/products-servers.jpg" alt="">
         </div>
      </div>

    </div>
  </section>


   <% include ../home/components/request_demo %>
   <% include ../home/components/request_case_study %>

</div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
