<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Customer Engagement Solutions by <%= appdata.product %> Digital Risk Management">
  <link rel="stylesheet" href="/css/index.css">
  <title>Customer Engagement Solutions by <%= appdata.product %> Digital Risk Management</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>

<% include ../home/components/navbar %>
<% include ../home/components/menubar %>

  <div class="site-body">

    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/solutions-customer-engagement.jpg)">
      <div class="container">
        <div class="content">
          <h1>Customer Engagement Made Easy</h1>
          <p class="section-desc white"><%= appdata.product %> identifies opportunities
            to provide better customer service and more targeted
            marketing for a more engaged brand.</p>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature text-center bg-grey-300">
      <div class="container container-fluid">
        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">Why <%= appdata.product %>?</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left">Customer service and success are the cornerstones of any great company, and providing
            excellent service starts with having prompt, detailed understanding of customer feedback.
          </p>
          <p class="section-desc text-left">
            <%= appdata.product %> can set location-based and global keyword monitors to track conversations about your brand and
            identify issues and influencer marketing conversations.
          </p>
        </div>
      </div>
    </section>
    <!-- End Feature -->


    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-grey-100">
      <div class="container container-fluid">
        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">How it works</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left">Protecting your brand from bad press starts with satisfying your
            customers. <%= appdata.product %> can alert you to customer complaints, track trends in the conversations around your
            industry, and identify essential opportunities to build your brand community.</p>
        </div>
      </div>
    </section>
    <!-- End Feature -->

    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-blue-grey-300">
      <div class="container container-fluid">
        <div class="row feature-group">
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-check"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Globalized intelligence</h4>
              <p class="grey-900">Monitor your brand globally to identify feedback trends and respond to
                specific instances of customer discontent to boost your image.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-mobile"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Actionable analytics</h4>
              <p class="grey-900">View breakdowns of essential influencers and conversation
                topics to inform better messaging and targeting.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-cloud"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Targeted engagement</h4>
              <p class="grey-900">Geofence specific locations to track on-site feedback and use
                targeted messaging to increase foot traffic.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Feature -->

    <% include ../home/components/request_demo %>
    <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
