<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Scam Protection Solutions by <%= appdata.product %> Digital Risk Management">
  <link rel="stylesheet" href="/css/index.css">
  <title>Scam Protection Solutions by <%= appdata.product %> Digital Risk Management</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>
<% include ../home/components/navbar %>
<% include ../home/components/menubar %>
  <div class="site-body">
    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/solutions-scam-protection.jpg)">
      <div class="container">
        <div class="content">
          <h1>Protect your information and brand</h1>
          <p class="section-desc white"><%= appdata.product %> can investigate online identities to
            ensure that only trusted individuals can represent and engage with your brand.</p>
          <p>
          </p>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature text-center bg-grey-300">
      <div class="container container-fluid">
        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">Why <%= appdata.product %>?</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left">Companies are vulnerable to scams targeted at their employees
            as well as fraudulent offers from websites and individuals claiming to represent
            the brand. Both of these can seriously impact a company’s security and brand image.
          </p>
          <p class="section-desc text-left">
            With <%= appdata.product %>, companies can detect these threats early to protect employees
            and prevent negative press to ensure that their online presence is a securely positive one.
          </p>
        </div>
      </div>
    </section>
    <!-- End Feature -->


    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-grey-100">
      <div class="container container-fluid">
        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">How it works</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left">Hackers and other malicious actors
            often use an existing company’s name or a current employee’s credentials
            to entice people to download malware or disclose sensitive information.
            This puts your brand and your security at risk. <%= appdata.product %>’s deep listening
            and analytics capabilities can identify and shut down these activities
            before they impact your bottom line.</p>
        </div>
      </div>
    </section>
    <!-- End Feature -->


    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-grey-400">
      <div class="container container-fluid">
        <div class="row feature-group">
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-mobile"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Flag suspicious individuals</h4>
              <p class="grey-900">Use TrueID tools to know exactly who is engaging with your brand
                and your people online and verify suspicious identities.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-cloud"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Extinguish false identities</h4>
              <p class="grey-900">Detect and report impersonators to limit your online vulnerabilities
                and control the messaging associated with your brand.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-check"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Monitor ongoing threats</h4>
              <p class="grey-900">Listen for public dialogue about scamming and fraudulent offers
                to detect and prevent potential public relations disasters.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Feature -->

     <% include ../home/components/request_demo %>
     <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
