<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Account Impersonation Solutions by <%= appdata.product %> Digital Risk Management">
  <link rel="stylesheet" href="/css/index.css">
  <title>Account Impersonation Solutions by <%= appdata.product %> Digital Risk Management</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>
<% include ../home/components/navbar %>
<% include ../home/components/menubar %>
  <div class="site-body">
    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/solutions-account-impersonation.jpg)">
      <div class="container">
        <div class="content">
          <h1>Secure your Identity</h1>
          <p class="section-desc white"><%= appdata.product %> monitors mentions of your name
            and company credentials to keep your image safe.</p>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature text-center bg-grey-300">
      <div class="container container-fluid">
        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">Why <%= appdata.product %>?</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left">Impersonations of your company and executives
            can hugely impact your brand image. Social media sites are
            constantly fighting against these attacks, but many still slip
            through the cracks. This is where <%= appdata.product %> steps in to defend
            your privacy and your name.
          </p>
          <p class="section-desc text-left">
            <%= appdata.product %> can monitor all social channels to identify and report these
            vulnerabilities to protect your brand and your name from impersonations.
          </p>
        </div>
      </div>
    </section>
    <!-- End Feature -->

    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-grey-100">
      <div class="container container-fluid">

        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">How it works</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left"><%= appdata.product %> analyzes vast
            amounts of online data related to your brand to pinpoint
            possible impersonators, then employ our TrueID technology
            to verify an account owner’s real identity.</p>
        </div>
      </div>
    </section>
    <!-- End Feature -->

    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-yellow-200">
      <div class="container container-fluid">
        <div class="row feature-group">
          <div class="col-sm-12 col-md-4 iconbox iconbox-leftgrey-900">
            <i class="icon iconbox-icon wb-mobile"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Comprehensive defense</h4>
              <p class="grey-900">Flag false accounts and malicious mentions of your name
                with <%= appdata.product %>’s global keyword functions and sentiment analysis engine.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-leftgrey-900">
            <i class="icon iconbox-icon wb-cloud"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Effortless monitoring</h4>
              <p class="grey-900">Set automatic monitors to constantly watch and alert you when a vulnerability is detected.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-leftgrey-900">
            <i class="icon iconbox-icon wb-check"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Multi-channel security</h4>
              <p class="grey-900">Use location based and keyword searches manually to check for
                threats to your guests and partners.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Feature -->

    <% include ../home/components/request_demo %>
    <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
