<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Executive and Personnel Protection Solutions by <%= appdata.product %> Digital Risk Management">
  <link rel="stylesheet" href="/css/index.css">
  <title>Executive and Personnel Protection Solutions by <%= appdata.product %> Digital Risk Management</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>
<% include ../home/components/navbar %>
<% include ../home/components/menubar %>
  <div class="site-body">
    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/solutions-executive-protection.jpg)">
      <div class="container">
        <div class="content">
          <h1>Powerful Personnel Protection</h1>
          <p class="section-desc white">Whether its physical security, or image protection,
            <%= appdata.product %> has your back.</p>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature text-center bg-grey-300">
      <div class="container container-fluid">
        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">Why <%= appdata.product %>?</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left">A company is only as good as its people, and the safety of your brand
            and information is only as secure as the safety of your personnel. Executives and employees at
            top companies are particularly vulnerable to character attacks and information
            leakage, which leaves your brand open to attack.
          </p>
          <p class="section-desc text-left">
            With <%= appdata.product %>, personnel security has never been so simple. Manage everything from gauging
            general public and employee sentiment about executives to uncovering and stopping
            malicious content, before it can spread.
          </p>
        </div>
      </div>
    </section>
    <!-- End Feature -->

    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-grey-100">
      <div class="container container-fluid">
        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">How it works</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left">Executives and company personnel are at high risk of attacks to their
            character and physical security. <%= appdata.product %> can monitor the web to control negative press and provide physical
            security support simultaneously. </p>
        </div>
      </div>
    </section>
    <!-- End Feature -->

    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-blue-grey-300">
      <div class="container container-fluid">
        <div class="row feature-group">
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-cloud"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Verify Identities</h4>
              <p class="grey-900">Detect impersonator accounts and fraudulent credentials to protect
                against public relations vulnerabilities.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-mobile"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Curate online presence</h4>
              <p class="grey-900">Set monitors to actively watch for abusive posts or other malicious
                content to prevent attacks on executive image.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-check"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Digital bodyguards</h4>
              <p class="grey-900">Create on-site security perimeters for high profile executives to
                monitor for physical threats and maximize personal security.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Feature -->

    <% include ../home/components/request_demo %>
    <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
