<% include ../html/html_begin %>
<% include ../html/head_begin %>
  <meta name="description" content="Brand Protection Solutions by <%= appdata.product %> Digital Risk Management">
  <link rel="stylesheet" href="/css/index.css">
  <title>Brand Protection Solutions by <%= appdata.product %> Digital Risk Management</title>
<% include ../html/head_end %>
<% include ../html/body_begin %>
<% include ../home/components/navbar %>
<% include ../home/components/menubar %>
  <div class="site-body">
    <!-- Hero -->
    <section class="site-hero hero hero-light padding-top-80"
    style="background-image:url(/img/home/solutions-brand-protection.jpg)">
      <div class="container">
        <div class="content">
          <h1>Take control of your image</h1>
          <p class="section-desc white"><%= appdata.product %> monitors your brand’s online
            presence to shield you from harmful content.</p>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- Feature -->
    <section class="section section-feature text-center bg-grey-300">
      <div class="container container-fluid">
        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">Why <%= appdata.product %>?</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left">Unverified content and malicious posting pose a
            major danger to new and established brands. Falsified data, counterfeit goods, and
            untrue experience stories and other harmful content have the potential to majorly
            impact a brand’s relationship with the public.
          </p>
          <p class="section-desc text-left">
            <%= appdata.product %> monitors all of the digital data from social networks to dark web to identify and report untrue or
            abusive content and stop it before it spreads.
          </p>
        </div>
      </div>
    </section>
    <!-- End Feature -->

    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-grey-100">
      <div class="container container-fluid">
        <div class="col-sm-12 col-md-6">
          <h3 class="section-title">How it works</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          <p class="section-desc text-left">Once false content becomes widely shared
            and believed, it can be incredibly difficult to correct the negative impact.
            <%= appdata.product %> works by finding and alerting you to malicious content before
            it becomes widely shared.</p>
        </div>
      </div>
    </section>
    <!-- End Feature -->

    <!-- Feature -->
    <section class="section section-feature section-small text-center bg-cyan-200">
      <div class="container container-fluid">
        <div class="row feature-group">
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-mobile"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Prevent Counterfeiting</h4>
              <p class="grey-900">Discover and monitor organizations that produce imitations
                of your products and services to mitigate their impact on your
                brand and bottom line.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-cloud"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Flag false content</h4>
              <p class="grey-900">Reduce your risk from unverified reviews and stop untrue stories
                from disgruntled customers from spreading.
              </p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 iconbox iconbox-left">
            <i class="icon iconbox-icon wb-check"></i>
            <div class="iconbox-content">
              <h4 class="iconbox-title grey-900">Defend against attacks</h4>
              <p class="grey-900">Protect your brand from falsified data and targeted
                malicious content spread by competitors.
              </p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Feature -->

    <% include ../home/components/request_demo %>
    <% include ../home/components/request_case_study %>

  </div>

<% include ../home/components/footer_home %>
<% include ../home/components/contact_form %>

<script src="/js/global/global.js"></script>
<script src="/js/index.js"></script>
<% include ../html/body_end %>
<% include ../html/html_end %>
