<!-- Footer -->
<footer class="footer">
  <div class="footer-detial">
    <div class="container">
      <div class="footer-arrow"></div>
      <div class="row">
        <div class="col-lg-9 col-sm-7">
          <div class="brand">
            <a href="/"><img class="brand-logo" src="/img/logo/logo-small.png" alt="<%= appdata.product %> logo">
            <span class="brand-text"><%= appdata.product %></span></a>
          </div>
          <address>
            <p>Built with <span class="glyphicon glyphicon-heart heart red-a400"></span> in Silicon Valley</p>
            <p>Phone: +1 650 843 9948</p>
            <p>Email: <%= appdata.contactEmail %></p>
          </address>
        </div>
        <div class="col-lg-3 col-sm-5 text-right">
          <div class="social">
            <a class="icon bd-facebook" target=_blank href="https://www.facebook.com/Mycroft-345902865844068/"></a>
            <a class="icon bd-twitter" target=_blank href="https://twitter.com/mycroft.cloud"></a>
            <a class="icon bd-linkedin" target=_blank href="https://www.linkedin.com/company-beta/13379946/"></a>
            <a class="icon bd-google-plus" target=_blank href="https://plus.google.com/b/113666263403558334818/113666263403558334818"></a>
          </div>
        </div>
      </div>
      <p class="copyright">
        <span>Copyright &copy; 2017 <%= appdata.product %></span>
        <span>
          <a href="javascript:void(0)">Terms &amp; Conditions</a> | <a href="javascript:void(0)">Privacy Policy</a></span>
      </p>
    </div>
  </div>
  <div class="footer-general">
    <div class="container">
      <div class="footer-arrow"></div>
      <p class="copyright">
        <span> &copy; 2017 <%= appdata.product %></span>
      </p>
    </div>
  </div>
</footer>
<!-- End Footer -->
